
body{
    width: 100vw;
    height: 100vh;
}


.T1{
    margin: 0 auto;
    border: 4px solid rgba(139, 0, 107, 0.8);
    width: 800px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.T1 div{
    border: 1px solid green;
    margin: 15px;
    border-radius: 5px;
}


h1, h2, h3{
    font-size: 20px;
    margin: 10px;
}

h1{
    margin-bottom: 20px;
}

.M1{
    display: flex;
    justify-content: space-between;

}

#img{
    margin: 30px;
    width: 130px;
    height: 200;
}
.M1 p{
    margin-left: 10px;
    margin-bottom: 10px;
}
.d2{
    margin-top: 20px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(1, 200px) repeat(1, 300px);
    grid-template-rows: repeat(auto, 400px);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    border: 1px solid white;
}

.d2:last-child{
    margin-bottom: 20px;
}
button{
    width: 250px;
    height:10% ;
    border: 2px solid white;
    background-color: darkorange;
    border-radius: 26px;
    padding: 15px 32px;
    float: left;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    margin: 1em; 
    font-size: 1em;
    animation: apparition 2s ease-out;
    
}

button:hover {
        color: darkorange;
        background-color: black;
        border: 2px solid blue;
}
 @keyframes apparition{
        from{
            opacity: 0;
            transform: translateX(-100px);
    
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
