@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
 background-size: cover;
 background-image:url(tori.jpg) ;
 background-repeat: no-repeat fixed;
 text-align: center;
}
ol{
    color: black;
    border-color: red;
}
button{
    width: 250px;
    height:8% ;
    border: 2px solid white;
    background-color: darkturquoise;
    border-radius: 26px;
    padding: 15px 32px;
    margin-top: 15px;
    font-family: 'Lobster', cursive;
    margin: 1em; 
    font-size: 1em;
}
a{
    color: red;
}
button:hover
    {
        color: darkturquoise;
        background-color: black;
        border: 2px solid blue;
        transform: rotate(5deg);
    }