body{
    background-color: black;
    text-align: center;
    }
h1{
    color: hotpink;
    font-family: verdana;
    font-size: 2em;

}
div{
    border: 2px solid green;
    border-radius: 30px;
    width: 50%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3px;
}
button{
width: 300px;
border: 2px solid white;
background-color: darkgreen;
border-radius: 26px;
padding: 15px 32px;
margin-top: 4px;
}
button:hover
{
    color: darkgreen;
    background-color: black;
    border: 2px solid green;
}