@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bebas+Neue&family=Caveat&display=swap');
.dam1{
    display: flex;
    justify-content: center;
    
}

.dam2{
    display: flex;
    justify-content: space-around;
    

}

.dam3{
    display: flex;
    justify-content: center;
    
}

.haut{
    border: white 3px solid;
    border-radius: 10px;
    background-color: yellow;
    width: 100%;
    text-align: center;
    text-decoration-color: aliceblue;
}

.bloc{
    margin: 10px;
    border: white 1px solid;
    width: 3700px;
    height: 360px;
    margin: 10px;

    
}
.bloc1{
    margin: 10px;
    border:white 1px solid;
    width: 4000px;
    height: 360px;
    background-color: rgb(139, 111, 0);
    color: white;

    
}
.M{
    border: white 1px solid;
    margin: 0px;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 89, 0);
    color:white;
}

.C{
    padding: 0px;
    text-align: center;
    
}



.d1{
    width: 480px;
    height: 290px;
    
}

.s{
    border: white 3px solid;
    border-radius: 10px;
    background-color: burlywood;
    width: 100%;
    text-align: center;
}

body{
    background-color: skyblue;
}
button{
    width: 250px;
    height:8% ;
    border: 2px solid white;
    background-color: rgb(0, 255, 34);
    border-radius: 26px;
    padding: 15px 32px;
    float: left;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    margin: 1em; 
    font-size: 1.2em;
    animation: apparition 2s ease-out;
}
button:hover {
    color: pink;
    background-color: black;
    border: 2px solid blue;
}
@keyframes apparition{
    from{
        opacity: 0;
        transform: translateX(-100px);

    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}