body{
    background-color: black;
    text-align: center;
    
    }
h1{
    color: hotpink;
    font-family: verdana;
    font-size: 2em;

}
div{
    border: 2px solid green;
    border-radius: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 45%;
    margin-top: 10%;
    height: 40%;
    
    
}
button{
width: 320px;
border: 2px solid white;
background-color: darkgreen;
border-radius: 26px;
padding: 15px 32px;
margin-top: 4px;
height: 68px;
font-size: 1rem;
font-weight: bold;
}
button:hover
{
    color: darkgreen;
    background-color: black;
    border: 2px solid green;
}
.d{
    width: 250px;
    height:8% ;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(242, 255, 0);
    border-radius: 26px;
    padding: 15px 32px;
    float: left;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    margin: 1em; 
    font-size: 1.2em;
    animation: apparition 2s ease-out;
}
.d:hover {
   
    color: pink;
    background-color: black;
    border: 2px solid blue;
}
@keyframes apparition{
    from{
        opacity: 0;
        transform: translateX(-100px);

    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

