

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* le lien se trouve sur font google sur internet type tester puis en bas select family*/
 

body{
    background-size: cover;
background-image:url(11.jpg) ;height: 100%;
background-repeat: no-repeat fixed;}
h1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: darkorange;
    text-shadow: 4px 4px 2px red;
    font-family: 'Caveat', cursive;
/* celui ci dessu se trouve aussi sur le site fontgoogle  */
}
div{
    border-radius: 10px;
    text-align: justify;
    text-align: center;
    border: 2px;
    /* BODER DEFINIS LES BORDURES DE LA DIV  */
    font-family: 'Caveat', cursive;
    box-shadow: 9px -9px 5px 1px white;

    
}
.d1{
    
    text-align: justify;
    text-align: center;
    border: 2px solid rgba(0, 255, 38, 0.679);
    float: left; 
         /*pour aliger les 2 tableau sur la meme ligne float  */
    width: 300px;
    height: 200px;
    margin: 10px;

}
.d2{
   
    border: 2px solid yellow;
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
   /* aligner aussi sur la gauche float */
}
.d3{
    text-indent: 2rem;
    border: 2px solid rgb(255, 0, 0);
    height: 200px;
    width: 200px;
    clear: both;
 
    /* clear, c'est pour retouenr a la ligne  */
    margin: 10px auto;
    /* pour center l'element voulue au millieux */
}

.d{
    width: 250px;
    height:8% ;;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(242, 255, 0);
    border-radius: 26px;
    padding: 15px 32px;
    float: left;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    margin: 1em; 
    font-size: 1.2em;
    animation: apparition 2s ease-out;
}
.d:hover {
    color: pink;
    background-color: black;
    border: 2px solid blue;
}
@keyframes apparition{
    from{
        opacity: 0;
        transform: translateX(-100px);

    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* main pour mettre une coueleur a un endrois precis, il doit egalement sur la pager html */
