body{
    background-color: rgba(110, 116, 225, 0.537);
 text-align: center;
 width: 100vw;
 height: 100vw;
}
#t1{
    width: 30vw;
    
    display: flex;
    justify-content: center;

}
#t2{
    
    width: 30vw;
    display: flex;
    justify-content: center;
   
    
 
}
.entier{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin:  10px;
    
   
}
h2{
    background-color: rgba(220, 195, 85, 0.861);
    text-align: center;
    padding: 15px;
    width: 25%;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 30px;

}