@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bebas+Neue&family=Caveat&display=swap');
body{
 background-size: cover;
 background-image:url(Adm.jpg) ;
 background-repeat: no-repeat fixed;
 text-align: center;
}
ol{
    color: black;
    border-color: red;
}
button{
    width: 250px;
    height:8% ;
    border: 2px solid white;
    background-color: darkorange;
    border-radius: 26px;
    padding: 15px 32px;
    float: left;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    margin: 1em; 
    font-size: 1.2em;
    animation: apparition 2s ease-out;
}

button:hover {
        color: darkorange;
        background-color: black;
        border: 2px solid blue;
}
 @keyframes apparition{
        from{
            opacity: 0;
            transform: translateX(-100px);
    
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
