@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat&display=swap');

body{
 background-size: cover;
 background-color:orange ;
 background-repeat: no-repeat;
 text-align: center;
}
ol{
    color: black;
    border-color: red;
}
button{
    width: 250px;
    height:8% ;
    border: 2px solid white;
    background-color: darkslateblue;
    border-radius: 26px;
    padding: 15px 32px;
    margin-top: 15px;
    font-family: 'Alkalami', serif;
    font-family: 'Caveat', cursive;
    margin: 1em; 
    float: left;
    font-size: 2em;
    animation: apparition 2s ease-out;
}
a{
    color: white;
}
button:hover
{
        color: darkslateblue;
        background-color: black;
        border: 2px solid blue;
}
 @keyframes apparition{
        from{
            opacity: 0;
            transform: translateX(-100px);
    
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }